* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
}

body {
    width: 100%;
    /* màu nền chủ đạo */
    background: rgb(246, 238, 238);
    /* height: 4000vh; */
}

/* ============= HEADER ================ */
.header {
    position: sticky !important;
    top: 0;
    z-index: 999;
    width: 100%;
    position: relative;
}

.navbar-brand {
    /* logo vàng đen */
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
    span {
        color: #ffa500;
    }
}

.navbar-toggler span {
    color: #ffa500;
}
.navbar-item {
    margin: 0 30px;
}
.nav-item .nav-link {
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
    margin: 0 30px;
}

.nav-item .nav-link:hover {
    background: #ffa500;
    color: white;
}

/* ================== END HEADER=================== */

/* ===================HOME SECTION (SLIDE IMAGE)================== */

.home-section {
    width: 100%;
    height: 140vh;
    overflow: hidden;
}

.carousel-item {
    height: 140vh; /* Full viewport height */
}

.content-home {
    max-width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding-left: 15%;
}

.img-1 {
    background-image: linear-gradient(#0000004d, #0000004d), url('../image/shutterstock_245507692-600x700.jpg');
}

.img-2 {
    background-image: linear-gradient(#0000004d, #0000004d), url('../image/shutterstock_178807262-600x700.jpg');
}

.img-3 {
    background-image: linear-gradient(#0000004d, #0000004d), url('../image/beautiful-landscape-forest-view-from-faraway-4k_1540140117-768x432.jpg.webp');
}

.slider-icon {
    width: 60px;
    height: 60px;
    background: rgb(246, 238, 238);
    color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    border-radius: 50px;
}
.btn {
    background-color: #4692e7;
    border: none;
}

@media (max-width: 850px) {
    .home-section,
    .content-home,
    #carouselExample {
        height: 40vh;
    }

    .slider-icon {
        width: 40px; /* Điều chỉnh kích thước cho các màn hình nhỏ hơn */
        height: 40px;
        font-size: 20px; /* Điều chỉnh kích thước của biểu tượng bên trong */
    }
}
@media (max-width: 450px) {
    .text-content-home h3 {
        font-size: 15px;
    }
    .text-content-home h1 {
        font-size: 25px;
    }
    .text-content-home h5 {
        font-size: 10px;
    }

    .text-content-home a {
        font-size: 10px;
    }
}

/* =================== END HOME SECTION (SLIDE IMAGE)================== */

/* ================== START TOUR PACKAGE  ======================*/
.background-tour-packages {
    height: 200vh;
    width: 100%;
    background: url('../image/india.png') center no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.tour-list {
    padding: 50px 0;
}

.main-txt h3 {
    padding-top: 110px;
    padding-bottom: 20px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}

.packages .card {
    border-radius: 5px;
    border: none;
}
.packages .card img {
    border-radius: 5px;
}
.packages .card .card-body {
    background: transparent;
}
.packages .card .card-body h3 {
    font-size: 25px;
    font-weight: 600;
}
.packages .card .card-body p {
    font-size: 15px;
}
.checked {
    color: #ffa500;
}
.star i {
    font-size: 12px;
}
.packages .card .card-body h6 {
    font-size: 20px;
}
.packages .card .card-body a {
    padding: 10px;
    text-decoration: none;
    background: #ffa500;
    color: white;
    border-radius: 5px;
}

.card .card-img-top {
    height: 200px;
}

/* Section Packages End */

/* ================== END TOUR PACKAGE ======================*/

.our-quality {
    min-height: 18vh;
    background: linear-gradient(to right, #478ee8, #468ae8, #4586e8, #4681e8, #477de7);
    color: #fff;
}

.our-quality .container .row .col-sm {
    min-height: 18vh;
    p {
        white-space: normal;
    }
}

/* =============== start FOOTER ===================*/
.footer {
    min-height: 80vh;
    background: #202020;
    padding: 32px;
    color: #676667;
}

.footer-container {
    margin-top: 20px;
}

.footer-logo {
    color: rgb(246, 238, 238);
    text-shadow: 0px 1px 1px #ffffff;
    font-weight: 550;
    font-size: 32px;
    span {
        color: #ffa500;
    }
}

.footer-para {
    font-size: 16px;
    line-height: 30px;
    margin: 25px 0;
}

.heading-sm-footer {
    color: rgb(246, 238, 238);
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 15px 0px;
}

.social-links-footer {
    margin: 15px 0;
}

.icon-social-footer {
    font-size: 20px;
    padding: 8px;
    border: 1px solid #478ee8;
    color: rgb(246, 238, 238);
    margin: 0 4px 0 0;
    transition: 0.2s ease-in;
}

.icon-social-footer:hover {
    background-color: #477de7;
    color: #ffa500;
}

.heading-pages {
    color: rgb(246, 238, 238);
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 18px;
}

/* dùng để ghi đè lên nav-link */
.footer-links {
    font-size: 18px !important;
    color: #676667 !important;
    margin: 5px 0 !important;
}

.footer-links:hover {
    /* ghi đè hover của navbar */
    background-color: #202020 !important;
}

.contact-footer .text-contact {
    margin: 16px 0px;
    font-size: 18px;
}

.contact-icon-footer {
    font-size: 18px;
    color: #ffa500;
    padding: 0px 9px;
}

.copyright {
    margin-top: 20px;
    border-top: 1px solid #676667;
    height: 80px;
}

/* =============== end FOOTER =================*/
